version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Admin@123
      POSTGRES_DB: customer_db
    ports:
      - "5432:5432"

  mock-server:
    build: ./mock-server
    container_name: mock-server
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  pipeline-service:
    build: ./pipeline-service
    container_name: pipeline-service
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mock-server
    environment:
      DATABASE_URL: postgresql://postgres:Admin%40123@postgres:5432/customer_db

